div{
    background-color: aqua;
    border: 2px solid red;
    border-radius: 20px;
    overflow-block: visible;
}
p{
    text-emphasis-style: open;
    text-transform: var(full-width);
    font: italic;
    background-color: coral;
}